.cell-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    border: 1px grey solid;
    transition: background 100ms ease-in-out;
    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }

    &.disabled {
        pointer-events: none;
    }

    &.winning-cell {
        background: #00ce00;
    }

    h1 {
        font-size: 40px;
        margin: 0;
    }

    .player-1 {
        color: red;
    }

    .player-2 {
        color: blue;
    }
}
