<div class="page-wrapper">
    <div class="game-container">
        <h1>TIC-TAC-TOE</h1>

        <ul class="game">
            <li *ngFor="let cell of cells; let i = index">
                <app-cell
                          [currentSymbol]="getSymbol(i)"
                          [isDisabled]="currentGame.isGameOver"
                          [isWinningCell]="currentGame.winningLine.includes(i)"
                          (onMarked)="markCell(i)"
                ></app-cell>
            </li>
        </ul>

        <div class="winner-container valign-center">
            <span class="winner-text">Winner: </span>
            <b *ngIf="currentGame.winner">{{currentGame?.winner?.username}}</b>
            <b *ngIf="currentGame.isDraw">Draw</b>
        </div>

        <div class="new-game-button-container" *ngIf="currentGame.isGameOver">
            <button (click)="resetGame()" mat-flat-button color="primary">New Game</button>
        </div>
    </div>

    <div class="completed-games-container">
        <h1>Completed Games</h1>

        <ul class="completed-games-list">
            <li class="game" *ngFor="let game of completedGames; let i = index">
                <span>- Game {{i}} winner:
                    <b *ngIf="currentGame.winner">{{currentGame?.winner?.username}}</b>
                    <b *ngIf="game.isDraw">Draw</b>
                </span>
            </li>
        </ul>

    </div>

</div>

