@import 'variables';

#app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
}

#router-outlet {
    margin-top: $header-height;
    min-height: 100vh;
}
